* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    scroll-behavior: smooth;
}

body {
    scroll-behavior: smooth;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

section {
    height: 100vh;
    width: 100vw;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.m {
    background-image: url('./../img/portada.png');
    background-size: cover;
    background-attachment: fixed;
    background-color: #666666;
}

section:not(.m) {
    background-color: red;
}

section:nth-child(2) {
    background-color: #E63947;
}

section:nth-child(3) {
    background-color: #F1F8ED;
}

section:nth-child(4) {
    background-color: #A8D9DC;
}

section:nth-child(5) {
    background-color: #457B9D;
    color: white;
}

section:nth-child(6) {
    background-color: #1D3556;
    color: white;
}

section:nth-child(7) {
    background-color: #41B1F0;
}

ul {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    height: 65px;
    position: fixed;
    z-index: 10;
    background-color: #333333;
    color: white;
    /* display: block; */
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

li {
    display: inline;
}

a {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    transition: .2s all ease;
}

a:hover {
    color: #adadad;
}

p {
    width: 30%;
    margin: 20px;
}

h1 {
    display: none;
}

@media (max-width: 500px) {
    .m {
        background-image: none;
        background-color: #39B0F0;
    }
    h1 {
        display: block;
        font-size: 3rem;
        margin: 20px;
        width: 80%;
    }
    ul {
        overflow: hidden;
        flex-direction: column;
        transition: .3s all ease;
    }
    /* ul:hover {
        height: 100%;
        display: flex;
    } */
    li {
        display: none;
        margin: 20px 0;
    }
}

#hamb {
    position: absolute;
    z-index: 20;
    color: white;
    left: 47%;
    top: 10px;
}
